build/
.cache/
cmake-build-*/
*.o
*.a
*.so
*.dylib
CMakeFiles/
CMakeCache.txt
compile_commands.json
.DS_Store
__pycache__/
*.pyc
.aider*
deps-src/
design
coverage*
tests/private
deps-build/
.ai.*
*~
build-asan/